#pattern  filter=crypt diff=crypt merge=crypt

#transcrypt secret :
# CIPHER:   aes-256-cbc
# PASSWORD: bossman-demo

# Transcrypt disabled, can be re-enabled via the command line
# https://github.com/elasticdog/transcrypt
#dist/akamai/**/*.json filter=crypt diff=crypt merge=crypt
